nav{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
    font-size: 2rem;
    box-sizing: border-box;
    align-items: center;
}
h1{
    font-weight: bold;
}
.nav-links ul{
    list-style: none;
    display: flex;
    
   

}
.nav-links ul li{
    margin: 0 20px;
}

@media screen and (max-width: 900px) {
    .nav-links{
        display: none;
        background: blue;

    } 
    
}
