*{
    margin: 0;
    padding: 0;
    /* border: solid 1px; */
    --color1: #fdfdfd;
    --color1: #fdfdfd;
}

body{
    background: #626161;
    min-height: 500%;
    /* width: 90%;*/
    height: 100vh;   
}
nav{
    font-size: 2.1rem;
    display: flex;
    color: white;    
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

h2{
    margin: 15px;
    font-size: 1.1em;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li{
    margin: 0 90px;
    font-size: 1.2rem;
}

#modem{
    min-height: 500px;
    height: 100px;
}


.header{
    display: flex;
    justify-content: space-around;
    text-align: center;   
}

.header-left-container{
    
    display: grid;
    margin: 50px;
    padding: 20px;
    text-align:justify ;
}
h1{ 
    font-size: 3rem;
}

.infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(34, 31, 25, 0.458);
    color: white;
    border-radius: 6px;
    margin: 3px; 
   
}

.btn-container{
    display: flex;
    flex-direction:column ; 
    padding: 5px;
    font-size: 1.5rem;
  
}

button{
    padding: 5px;
    border-radius: 10px;
    background: rgb(86, 86, 255);
    margin: 3px;
}
.investors{
    width: 150px;
    height: 150px;
}

.infos-left{
    display: flex;
    padding: 10px;
    flex-direction: column;
    display:flex ;
}
.infos-right{
    display: flex;
    margin: 10px;
}

h3{
    margin-right: 550px;
}

.img-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:  50px;
    position: absolute;
    right: 60px;
    height: 15px;
    
    
    
}

img{
   height: 50px;
   margin: 0 50px;
   margin-top: 60px;
}


















































































